.loading {
  background-color: rgb(11, 11, 11);
  margin-left: 780px;
  margin-right: 780px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Handjet;
  border-radius: 45px;
  font-size: 50px;
  color: rgb(114, 113, 113);
  text-align: center;
  margin-top: 400px;
  transition: opacity 0.25s;
  filter: drop-shadow(-5px 0px 30px #080f6d)
}

.loading:hover {
  opacity: 0.6;
}

