html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

p {
  background-color: rgb(11, 11, 11);
  padding: 10px 20px;
  font-family: Handjet;
  border-radius: 45px;
  font-size: 50px;
  color: rgb(114, 113, 113);
  text-align: center;
  transition: opacity 0.25s;
  filter: drop-shadow(-5px 0px 30px #080f6d);
}


p:hover {
  opacity: 0.6;
}


@media (max-width: 768px) {
  p {
    font-size: 30px; /* Smaller font size on mobile */
    padding: 10px 15px; /* Adjust padding */
  }
}